form{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../img/dalmata2.png);  
    background-position: center;
    background-attachment: fixed;
    width: 600px;
    border-radius: 20px;
    padding:10px;
    margin: 0 auto;
    color: rgb(151, 0, 0);
    line-height: 1.5; 
}

input, textarea{
    border: 0;
    outline: none;
    padding: 10px;
    background: rgb(246, 208, 208);
}

.field:focus{
    border-color: rgb(68, 0, 255);
}

