@import "_variables.scss";


//Mixin

@mixin formato($colorTexto,$colorFondo, $padding ){
    color: $colorTexto;
    background-color:$colorFondo;
    padding:$padding;
}

/*-- titulo de página */
.descripcion{
    align-items: center;
    max-width: 600px;
    text-align: center;    
    line-height: 1.5;
    margin: auto;
    h2{ 
        @include formato(rgba(255, 0, 0, 0.61), rgb(255, 255, 255),40px);
        width: 100%;
        font-size: 60px;
        text-align: center;
        margin-bottom: 40px;
    }
}

/* Incio CSS Galeria de imagenes con bootstrap*/
#titulo_main{
    @extend .descripcion;
    padding: 20px;
    background-color: $colorSecundario;
}

#galeria {
    .col-lg-4{
        padding: 25px;
    }
    img{
        width: 80%;
        height: 300px;
        background-color: $colorPrincipal;
    }
    img:hover{
        transform: scale(1.2);
        transition: all 800ms;
        border: 5px outset $colorPrincipal;
    }
}

/* FIN CSS Galeria de imagenes con bootstrap*/


/* Inicio de secccion: MAS SOBRE NOSOTROS*/
.secciones{
    @extend .descripcion;
    padding-top: 50px;
}

#secciones{
    background-color:rgb(124, 0, 0);
    height: 300px;
    display: flex; 
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-bottom: 120px;

    img{
        width: 30%;
        height: 30%;
        align-items: center;
        margin:0px auto;
        padding-top: 20px;
    }
}
/* Fin de secccion: MAS SOBRE NOSOTROS*/

/* Inicio de sección : La Chacra */
.chacra {
    margin: 100px;
    text-align: center;
    font-size: 20px; 

    h2{
        text-decoration: underline;
        padding-top: 0px;
    }

    img{
        float: right;
        width: 35%;
        margin-top: 10px;
        margin: 25px;
        padding: 15px;
        border-color: $colorPrincipal;
        background-color: $colorSecundario;
        border-style: groove;
    }
}
.chacra:hover{
    transform: scale(1.05);
    transition: all 2s;
}
/* Fin de sección : La Chacra */

/* Inicio de FOOTER */
footer {
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    line-height: 24px;
    
    section{
        padding: 16px;
    }

    .copyrights{
        padding-top: 100px;
        text-align: center;
        padding-bottom: 50px;
    }
}

/* Fin de FOOTER */